<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accessibility Way</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeuSiteEmMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
   
        <nav class="navbar navbar-dark container-fluid" style="padding: 0; background-image: linear-gradient(to right, rgb(2, 57, 214), rgb(1, 31, 117));">
            <div class="container">
                <a class="navbar-brand container-fluid" style="width: 150px;" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo-AcWay.png" class="logoSite align-content-center" style="width: 150px;" /></a>
            </div>

            <div class="container-fluid">
                <nav class="navbar navbar-dark container-fluid" style="background: rgb(1, 12, 43);">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Simulacao">Simulação</a>
                    </li>
                </ul>
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Accessibility Way - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
