<body style="margin: 0, 0;">

    @{
        ViewData["Title"] = "Simulação";
    }

    <div class="text-center">
        <h1 class="display-4">Simulação</h1>
        <p>Selecione a simulação desejada:</p>
    </div>

    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ViaUnica">Via Única</a>
            </li>
        </ul>
    </div>

</body>